
input[type="number"] {
    width: 200px;
    height: 40px;
    margin-right: 4px;
    font-size: 20px;
    padding: 0px 10px;
}

input[type="button"] {
    width: 100px;
    height: 46px;
    cursor: pointer;
    font-size: 20px;
}