
.img-preview {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    user-select: none;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999;

    .close-icon {
        cursor: pointer;
        
        position: absolute;
        right: 8px;
        top: 8px;
    }

    .mask-image {
        max-width: 100vw;
        max-height: 100vh;
    }
}